<app-layout></app-layout>

<!--<h3>
  LOGIN
</h3>



 
  <style type = "text/css">
  .container{
  text-align: center;
 
  }
 
  </style>

<style type = "text/css">
  .form{
  text-align: center;
 
  }
 
  </style>
 
  
      <div class="container">
       <br>
         <h1>Iniciar sesión</h1>
         
         <form class="form">
           <input type="text" placeholder="Username">
           <br>
           <br>
          
           <input type="password" placeholder="Password">
           <br>
           <br>
           
           <button (click)="validar()" type="button" class="btn btn-primary">Login</button>
         </form>
      </div>-->