<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="#">Inicio</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/usuarios">Usuarios <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/login">Ingresar <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>